<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="mainBody">
    <div class="container-flex">
        <nav th:replace="layout/navbar :: navbar"></nav>
        <th:block layout:fragment="page_main"></th:block>
    </div>
    <th:block th:fragment="mainScript">
        <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    </th:block>
    <th:block layout:fragment="script_main"></th:block>
</body>
</html>