<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="navbar" class="menubar">
        <!--<img class="menu__logo" alt="로고"/>-->
        <a href="/login"><img class="menu__login" th:src="@{/img/naver_login_button.PNG}" alt="네이버 로그인"/></a>
        <ul class="menu__items">
            <li class="menu__item">로그인</li>
            <li class="menu__item">분양</li>
            <li class="menu__item">이력</li>
        </ul>
    </nav>
</html>