<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="navbar" id="menubar" class="menubar">
        <a th:href="@{/}"><img class="menu__logo" th:src="@{/img/logo.jpg}" alt="로고"/></a>
        <ul class="menu__items">
        <th:block th:if="${session.user == null}">
            <a href="/login"><img class="menu__login" th:src="@{/img/naver_login_button.PNG}" alt="네이버 로그인"/></a>
        </th:block>
        <th:block th:if="${session.user != null}">
            <span class="menu__welcome" th:text="${session.user.name + '님 환영합니다!'}"></span>
            <a th:href="@{/logout}"><li class="menu__item">로그아웃</li></a>
            <a th:href="@{/mypet}"><li class="menu__item">내 펫보기</li></a>
            <a th:href="@{/register}"><li class="menu__item">펫 등록</li></a>
        </th:block>
            <a th:href="@{/pet}"><li class="menu__item menu__item--smaller">애완동물조회</li></a>
        </ul>
    </nav>
    <nav th:fragment="top-nav" class="top-nav">
        <i id="toggle-menubar" class="fas fa-bars toggle-menu"></i>
        <form class="search" th:action="@{/search}" method="POST">
            <label for="query" class="search__box search__box--flex">
                <select class="search__category search__query" name="method">
                    <option value="name">이름</option>
                    <option value="category">종류</option>
                    <option value="breed">품종</option>
                </select>
                <input id="query" class="search__query search__query--flexible" type="text" name="query" />
                <button type="submit" class="search__submit search__submit--box"><span class="submit-letter">검색</span></button>
            </label>
        </form>
    </nav>
</html>