<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<th:form th:fragment="pet-resister" class="register" action="/pet" method="post" enctype="multipart/form-data">
    <input type="hidden" name="username" th:value="${session.user.name}"/>
    <h3 class="register__subtitle">필수 정보</h3>
    <div class="register__required">
        <div class="register-data">
            <label for="petname">
                <span>이름</span>
                <input id="petname" type="text" name="petname" />
            </label>
        </div>
    </div>
        <!-- 카테고리와 품종은 span을 이용한 js로 처리 -->
    <h3 class="register__subtitle">선택 정보</h3>
    <div class="register__optional">
        <div class="register-data">
            <label>
                <span>소개글</span>
                <textarea name="intro" cols="40" rows="10"></textarea>
            </label>
        </div>
        <div class="register-data">
            <label>
                <span>애완동물사진</span>
                <input type="file" name="profile" />
            </label>
        </div>
        <div class="register-data">
            <label>
                <span>분양여부</span>
                네 <input type="radio" name="isbreeding" value="T" />
                아니요<input type="radio" name="isbreeding" value="F" checked />
            </label>
        </div>
    </div>
    <input type="submit" value="애완동물 등록" />
</th:form>

<th:form th:fragment="history-resister" class="register history-resister" th:action="@{history}" method="post">
    <input type="hidden" name="username" th:value="${session.user.name}"/>
    <div class="register-data">
        <label>
            <span>제목</span>
            <input type="text" name="title" />
        </label>
    </div>
    <div class="register-data">
        <label>
            <span>장소</span>
            <input type="text" name="address"/>
        </label>
    </div>
    <div class="register-data">
        <label>
            <span>내용</span>
            <textarea name="content" cols="40" rows="10"></textarea>
        </label>
    </div>
    <input type="submit" value="이력 등록" />
</th:form>
</html>