@import url(index.css);
@import url(menubar.css);
@import url(pet.css);
@import url(top-nav.css);
@import url(search.css);
@import url(register.css);

*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container-flex{
    display: flex;
    height: inherit;
}