@import url(index.css);
@import url(menubar.css);

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container-flex{
    display: flex;
    height: inherit;
}