.history-resister{
    display: none;
}

.register__subtitle{
    font-size: 30px;
    text-align: center;
}
.register{
    width: 500px;
    margin: 0 auto;
}

.register-data{
    padding: 10px;
    margin: 10px 0;
    background: goldenrod;
}
.register-data > label > span{
    display: block;
    font: bold 20px sans-serif;
    margin-bottom: 10px;
}

.register-data > label > input[type="text"]{
    width: 100%;
    height: 40px;
}