
.search{
    width: 90%;
    display: flex;
    justify-content: center;
}

.search__box{
    padding: 10px;
    background-color: rgb(239, 197, 97);
    display: flex;
}

.search__box--flex{
    margin-left: 10px;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.search__box--black-line{
    border: 3px solid #000;
}

.search__query{
    display: inline-block;
    height: 30px;
}

.search__query--light-gray{
    background-color: #737373;
    color: #fff;
}

.search__query--flexible{
    width: 75%;
}

.search__category{
    width: 55px;
}

.search__input{
    width: 280px;
    border: none;
}

.search__submit{
    border: none;
    cursor: pointer;
}

.search__submit--box{
    padding: 0 5px;
    background-color: #A9A9A9;
}

.search__submit:hover{
    color: #fff;
    background-color: #000;
}

.search__submit > .submit-letter {
    font-size: 20px;
}