<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/application}">
    <th:block layout:fragment="page_main">
        <div class="container">
            <form class="search" th:action="@{/search}" method="post">
                <label for="query" class="search__box search__box--black-line">
                    <select class="search__category search__query search__query--light-gray" name="method">
                        <option value="name">이름</option>
                        <option value="category">종류</option>
                        <option value="breed">품종</option>
                    </select>
                    <input id="query" class="search__query search__query--light-gray search__input" type="text" name="query" />
                    <button type="submit" class="search__submit search__submit--box"><span class="submit-letter">검색</span></button>
                </label>
            </form>
        </div>
    </th:block>
</html>