<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/application}">
<th:block layout:fragment="page_main">
    <section class="pet">
        <nav th:replace="layout/navbar :: top-nav"></nav>
        <article class="pet-details">
            <div class="pet-details__thumbnail">
                <img class="pet-avatar" th:src="@{{url}(url=${pet.profile})}" alt="펫 이미지" />
                <p class="short-intro"><span class="pet-owner" th:text="${pet.userName + '님'}"></span>의<br/>
                    <span th:text="${pet.name}" class="pet-name"></span></p>
            </div>
            <div class="pet-details__data">
                <div class="pet-personal">

                </div>
                <div class="long-intro">

                </div>
            </div>
        </article>
    </section>
</th:block>
</html>