<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/application}">
<th:block layout:fragment="page_main">
    <section class="pets">
        <nav th:replace="layout/navbar :: top-nav"></nav>
        <article class="petlist">
            <th:block th:switch="${petList.size()}">
                <div class="petlist__zero" th:case="0">
                    등록된 Pet이 없습니다.
                </div>
                <div class="petlist__exist" th:case="*">
                    <th:block th:each="pet : ${petList}">
                        <a th:href="@{/pet/{id}(id=${pet.id})}">
                        <div class="pet-profile">
                            <img src="/uploads/dog.PNG" class="pet-profile__img" alt="애완동물 사진" />
                            <div class="pet-profile__box">
                                <h4 class="pet-text pet-name" th:text="${pet.name}">펫 이름</h4>
                                <p class="pet-text pet-category" th:text="${pet.category}">펫 종류</p>
                                <p class="pet-text pet-breed" th:text="${pet.breed}">펫 품종</p>
                            </div>
                        </div>
                        </a>
                    </th:block>
                </div>
            </th:block>
        </article>
    </section>
</th:block>
</html>